html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

:root {
    --text-color: white;
    --header-color: #444;
    --header-settins-color: #222;
    --header-active-color: #333;
    --hover-color: red;
}

/* EDITOR */

svg {
    width: .75rem;
    height: .75rem;
    fill: var(--text-color);
    margin: .375rem;
    cursor:pointer;
}

    svg:hover {
        fill: var(--hover-color);
    }

.editor-container {
    width: 100%;
    height: 100%;
}

.editor-header {
    width: calc(100% - 5rem);
    height: 2.5rem;
    overflow: hidden;
    background-color: var(--header-color);
    display: flex;
    float:left;
}

.editor-header-tab {
    cursor: pointer;
    padding: .5rem;
    color: var(--text-color);
    width: 15rem;
    flex-basis: 15rem;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    scroll-
}

    .editor-header-tab h4 {
        margin: 0;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .editor-header-tab:hover {
        opacity: .65;
    }

    .editor-header-tab.active {
        background-color: var(--header-active-color);
        width: auto;
    }

.editor-header-tab-title {
    display: flex;
    width: calc(100% - 1.5rem);
}

.editor-header-settings {
    color: var(--text-color);
    background-color: var(--header-settins-color);
    width: 5rem;
    float: left;
    height: 1.5rem;
    padding: .5rem 0;
}

/*.editor-paging {
    position: absolute;
    right: 1.5rem;
    top: 0rem;
    cursor: pointer;
    color: var(--text-color);
    padding: .375rem;
    background-color: var(--header-settins-color);
}

.editor-settings {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: var(--text-color);
    padding: .375rem;
    background-color: var(--header-settins-color);
}*/




.editor-content {
    width: 100%;
    height: calc(100% - 2.5rem);
}


/*    .editor-settings svg {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        fill: var(--text-color);
    }*/
/*.editor-container {
    height: 100%;
    width: calc(100%);
    position: relative;
}








*/
/*.



.editor-header-tab-title {
    display: flex;
    width: 100%;
}

.editor-header-tab {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 10rem;
    padding-left: .25rem;
    padding-right: .5rem;
    color: var(--text-color);
    background-color: var(--header-color);
    min-width: 10rem;
}

    .editor-header-tab:hover {
        opacity: .75;
    }

    .editor-header-tab.active {
        background-color: var(--header-active-color);
        min-width: 10rem;
        max-width: inherit;
        width: auto;
    }

        .editor-header-tab.active:hover {
            opacity: 1;
        }

    .editor-header-tab h4 {
        font-size: 1rem;
        margin: 0;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }

    .editor-header-tab i {
        z-index: 10;
        margin-left: .25rem;
    }


}*/
