@page "/"

@using Testing
@using Editing

<button @onclick="async() => await AddFile()">Add file</button>

    <Blace.Components.Editor @ref="Editor" Files="Files" />

@code {
    public List<BaseEditorFile> Files { get; set; }
    public Editor Editor { get; set; }

    protected async Task AddFile()
    {
        await Editor.OpenFile(new TestEditorFile("file1"));
    }

    protected override Task OnInitializedAsync()
    {
        Files = new List<BaseEditorFile>()
    {
            new TestEditorFile("file1"),
            new TestEditorFile("file2"),
            new TestEditorFile("file3"),
            //new TestEditorFile("file test met een redelijk lange naam omte zien wa te doen"),
            //new TestEditorFile("file1"),
            //new TestEditorFile("file2"),
            //new TestEditorFile("file3"),
            //new TestEditorFile("file1"),
            //new TestEditorFile("file2"),
            //new TestEditorFile("file3"),
            //new TestEditorFile("file1"),
            //new TestEditorFile("file2"),
            //new TestEditorFile("file3"),
            //new TestEditorFile("file1"),
            //new TestEditorFile("file test met een redelijk lange naam omte zien wa te doen"),
            //new TestEditorFile("file2"),
            //new TestEditorFile("file3"),
            //new TestEditorFile("file1"),
            //new TestEditorFile("file2"),
            //new TestEditorFile("file3"),

        };
        return base.OnInitializedAsync();
    }

}