@page "/"

@using Testing
@using Editing

<button @onclick="AddFile">Add</button>
<button @onclick="CloseFile">Close</button>
<button @onclick="SaveFile">Save</button>
<button @onclick="ReloadFile">Reload</button>

<Blace.Components.Editor @ref="Editor" T="TestEditorFile" />

@code {
    public Editor<TestEditorFile> Editor { get; set; }

    protected async Task AddFile()
    {
        var newFile = new TestEditorFile("file4");
        await Editor.Open(newFile, new() { Syntax = Syntax.Python, Theme = Theme.Chrome });
    }

    protected async Task CloseFile()
    {
        await Editor.Close();
    }

    protected async Task SaveFile()
    {
        await Editor.Save();
    }

    protected async Task ReloadFile()
    {
        await Editor.Reload();
    }
}